@inherits LayoutComponentBase

<link rel="stylesheet" href="css/clientprofile.css" />
<link rel="stylesheet" href="css/client-layout.css" />

<div class="client-profile-page">
    <CascadingValue Value="this">
        @Body
    </CascadingValue>
</div>
